<template>
  <q-page id="Register" style="padding-top: 214px; max-width: 800px; margin: 0 auto;">
    <q-form class="q-pb-xl">

      <div class="text-center q-mb-40" v-if="!$route.query.invited">
        <div class="fs-40 fw-600 q-ls--2">
          {{ $t('register.sign_up') }}
        </div>
        <div class="text-dark-grey fs-18 fw-500 q-ls--2 q-lh-22">
          {{ $t('register.join_our_community') }}
        </div>
      </div>

      <register-header-through v-if="$route.query.through"/>

      <register-header-invitation v-if="$route.query.invitationby"/>

      <template v-if="loaded">
        <register-card-standard-info ref="card_standard"/>
        <register-card-languages ref="card_languages"/>
        <register-card-about ref="card_about"/>
        <register-card-profile-media ref="card_media"/>
        <register-card-personal-details ref="card_personal"/>
      </template>

      <template v-else>
        <register-skeleton-standard-info/>
        <register-skeleton-languages/>
        <register-skeleton-about/>
        <register-skeleton-profile-media/>
        <register-skeleton-personal-details/>
      </template>

      <div class="full-width">
        <button-wide :disabled="sending"
                     class="q-mt-10 q-mx-auto"
                     style="min-width: 228px;"
                     @click="checkData">
          <q-spinner-ios size="20px" v-if="sending" class="q-mr-8"/>
          <span class="font-16-700-19-0">{{ $t('register.create_account') }}</span>
        </button-wide>
      </div>

    </q-form>
  </q-page>
</template>

<script>
import {mapActions} from 'vuex'
import {SET_BACKGROUND_URL} from "src/store/mutation.types";
import ButtonWide from "components/elements/buttons/ButtonWide";
import RegisterCardProfileMedia from "components/Auth/Register/RegisterCardProfileMedia";
import RegisterCardStandardInfo from "components/Auth/Register/RegisterCardStandardInfo";
import RegisterCardLanguages from "components/Auth/Register/RegisterCardLanguages";
import RegisterCardAbout from "components/Auth/Register/RegisterCardAbout";
import RegisterCardPersonalDetails from "components/Auth/Register/RegisterCardPersonalDetails";
import RegisterSkeletonStandardInfo from "components/Auth/Register/RegisterSkeletonStandardInfo";
import RegisterSkeletonLanguages from "components/Auth/Register/RegisterSkeletonLanguages";
import RegisterSkeletonAbout from "components/Auth/Register/RegisterSkeletonAbout";
import RegisterSkeletonProfileMedia from "components/Auth/Register/RegisterSkeletonProfileMedia";
import RegisterSkeletonPersonalDetails from "components/Auth/Register/RegisterSkeletonPersonalDetails";
import RegisterHeaderThrough from "components/Auth/Register/RegisterHeaderThrough";
import RegisterHeaderInvitation from "components/Auth/Register/RegisterHeaderInvitation";
import {RegisterAdapterMixin} from "src/mixins/Register/RegisterAdapterMixin";

export default {
  name: 'Register',

  components: {
    RegisterHeaderInvitation,
    RegisterHeaderThrough,
    RegisterSkeletonPersonalDetails,
    RegisterSkeletonProfileMedia,
    RegisterSkeletonAbout,
    RegisterSkeletonLanguages,
    RegisterSkeletonStandardInfo,
    RegisterCardPersonalDetails,
    RegisterCardAbout,
    RegisterCardLanguages,
    RegisterCardStandardInfo,
    RegisterCardProfileMedia,
    ButtonWide,
  },

  mixins: [
    RegisterAdapterMixin,
  ],

  data() {
    return {
      loaded: false,
      sending: false,
    }
  },

  methods: {
    ...mapActions([
      'grabRegisterForm',
      'sendRegister',
      'clearRegister',
    ]),

    slideTo(anchor) {
      let element = document.querySelector('#' + anchor)
      let bodyRect = document.body.getBoundingClientRect()
      let elemRect = element.getBoundingClientRect()
      window.scrollTo({
        top: elemRect.top - bodyRect.top - 100,
        behavior: 'smooth'
      });
    },

    checkData() {
      return Promise.all([
        this.$refs.card_standard.validate(),
        this.$refs.card_languages.refresh(),
        this.$refs.card_about.hasErrors(),
        this.$refs.card_personal.hasErrors(),
      ]).then(([err_standard, err_languages, err_about, err_personal]) => {
        switch (true) {
          case err_standard:
            this.slideTo('RegisterCardStandardInfo');
            break
          case err_personal:
            this.slideTo('RegisterCardPersonalDetails');
            break
          default:
            this.sending = true
            this.sendForm()
                .catch(console.error)
                .finally(() => this.sending = false)
        }
      }).catch(console.error)
    },

    checkAndSlideTo() {
      let ex = this.errors
      switch (true) {
        case !!ex.username:
        case !!ex.email:
        case !!ex.password:
        case !!ex.passwordConfirm:
        case !!ex.gender:
        case !!ex.birthDate         :
          this.slideTo('RegisterCardStandardInfo');
          break
        case !!ex.avatar:
        case !!ex.personalityTraits :
          this.slideTo('RegisterCardAbout');
          break
        case !!ex.languages         :
          this.slideTo('RegisterCardLanguages');
          break
        case !!ex.firstName:
        case !!ex.lastName:
        case !!ex.city:
        case !!ex.postalCode:
        case !!ex.street:
        case !!ex.phone             :
          this.slideTo('RegisterCardPersonalDetails')
      }
    },

    sendForm() {
      return this.sendRegister().then(result => {
        result ?
            this.done() :
            this.checkAndSlideTo()
      }).catch(console.error)
    },

    done() {
      return Promise.all([
        this.$store.dispatch('grabLanguages'),
        this.$store.dispatch('grabCurrencies'),
        this.$store.dispatch('grabTimezones'),
        this.$store.dispatch('grabAuthUserProfile'),
      ]).then(([languages, currencies, timezones, profile]) => {
        localStorage.setItem('language', JSON.stringify(profile.language))
        localStorage.setItem('currency', JSON.stringify(profile.currency))
        localStorage.setItem('timezone', JSON.stringify(profile.timezone))
      }).catch(console.error).finally(() => {
        this.devlog('Going to profile...')
        this.$router.push({name: 'profile.home'})
      })
    },

  },

  created() {
    this.grabRegisterForm()
        .then(() => this.loaded = true)
        .catch(console.error)

    this.$store.commit(SET_BACKGROUND_URL, '/img/background1.jpg')
  },

  beforeDestroy() {
    this.clearRegister()
  },
}
</script>

