.main_card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  border: 1px solid $grey_1;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 15px;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }

    .text {
      font-size: 14px;
      color: $grey_0;
    }
  }

  .button {
    justify-self: center;
    padding: 8px 16px;
    background-color: $scylar_blue;
    color: $white_main;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $scylar_blue_0;
    }
  }
}