.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid $white;
  animation: rotateScaleFade 8s ease-in-out infinite;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }

  @keyframes rotateScaleFade {
    0% {
      transform: rotate(0deg) scale(0);
      opacity: 0;
    }
    50% {
      transform: rotate(180deg) scale(1.2);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}